<!DOCTYPE html>
<html>
<head>
  <title>BuyExpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BuyExpress</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <%= link_to 'Person', people_path, class: 'nav-item nav-link' %>
        <%= link_to 'Lists', lists_path, class: 'nav-item nav-link' %>
      </div>
    </div>
  </nav>

  <main class="container" role="main">
    <%= yield %>
  </main>


</body>
</html>
